{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobszone</title>
    <link rel="stylesheet" href="{% static 'home1/sinup.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

    <div class="container">

        <form action="" method="post" class="form">
            {% csrf_token %}

            <h2>Sign Up</h2>

            {% comment %} <div class="names"> {% endcomment %}
                <input type="firstname" name="firstname" id="firstname" class="firstname" placeholder="FirstName"
                    required>

                <input type="lastname" name="lastname" id="lastname" class="lastname" placeholder="LastName" required>

                <input type="username" name="username" id="username" class="username" placeholder="UserName" required>

                <input type="email" name="email" id="email" class="email" placeholder="Email" required>

                
    

           

            <input type="password" name="spassword1" id="spassword1" class="box2" placeholder="Choose Your Password"
                required>

            <input type="password" name="spassword2" id="spassword2" class="box3" placeholder="Confirm Password"
                required>
            {% comment %} try only {% endcomment %}
            {% comment %} <input type="submit" name="submit" id="submit" class="box10" placeholder="sign up" required>
            {% endcomment %}

                {% comment %} <div class="btn-signup1"> {% endcomment %}
                <div class="btn-box">
                    <button type="submit" class="submit">
                    Sign Up

                    </button>
                </div>

                {% comment %} </div> {% endcomment %}

          <div class="account">
                <a href="{% url 'loginn' %}">Already have a Account</a>
            </div> 


        </form>
    </div>
</body>

</html>