* {
  margin: 0px;
  padding: 0px;
  /* border: border-box; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* max-width: 100%; */
}

body{
  background-color: #d6d6d6;
  /* background-color: #eef4fe; */
}

.navbar {
  display: flex;
  background-color: #f2f2f2;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  /* cursor: pointer; */
}

.first {
  display: flex;
}

.logo {
  background-image: url( '..home1/images/dreamjobs-high-resolution-logo(4).png' );
  height: 50px;
  width: 70px;
  background-size: cover;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-left: 50px;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li a {
  text-decoration: none;
  color: #2f3539;
  font-size: 18px;
}

.nav-items ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.nav-items ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  /* background-color: #f44336; */
  background-color: #6a5ae6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-items ul li:hover::after {
  width: 100%;
}

/* #name{
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
} */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.first-login {
  margin-right: 20px;
  border: none;
  background: white;
  border: 1px solid black;
  padding: 12px 25px;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  /* font-size: 13px; */
  transition: .4s;
}

.second-sinup {
  margin-right: 20px;
  border: none;
  background: #6a5ae6;
  padding: 12px 25px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  /* font-size: 13px; */
  transition: .4s;
}

.third-employer {
  /* margin-right: 20px; */
  border: none;
  /* background: rgb(135, 123, 243); */
  /* border: 1px solid black; */
  padding: 12px 25px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  /* font-size: 13px; */
  /* transition: .4s; */
}


.dropdown{
  display: none;
}

.login ul li:hover .dropdown{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #f0f1f2;

}

.login ul li:hover .dropdown ul{
  display: block;
  margin: 20px;
}


.dropdown ul li{
  list-style-type: none;
  width: 100px;
  padding: 10px;
}

.login ul li{
  position: relative;
  list-style-type: none;
}

.login ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  /* background-color: #f44336; */
  background-color: #6a5ae6;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.login ul li:hover::after {
  width: 80%;
}

.first-login:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.second-sinup:hover{
  transform: scale(1.05);
  cursor: pointer;
}




.container{
  max-width: 396px;
  height: 500px;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  padding: 27px 29px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  border: none;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.form{
  display: flex;
  flex-direction: column;
  width: 800%;
  align-items: center;
}

.form h2{
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 13px;
  color: #24365E;
}

.box1{
  padding: 12px;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  outline: none;
  border: 1px solid #333;
  border-radius: 6px;
  height: 53px;
}

.box2{
  padding: 12px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  outline: none;
  border: 1px solid #333;
  border-radius: 6px;
  height: 53px;
}

.forget-password{
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 5px;
}

.forget-password a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.submit{
      width: 100%;
      height: 44px;
      margin-top: 10px;
      background-color: #6a5ae6;
      font-weight: bold;
      font-size: 18px;
      border: none;
      border-radius: 6px;
}

.submit:hover{
  cursor: pointer;
  background-color: #8b7ef4;
}



/* .text1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
} */

.social-text1{
  /* margin-top: 20px;
  font-size: 16px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center; */
  /* width: 50vh; */
  margin-top: 20px;
  max-width: 500Px;
  text-align: center;
  position: relative;
}

.social-text1:before{
  content: "";
  width: 150px;
  height: 1px;
  display: block;
  background: rgb(206, 206, 206);
  position: absolute;
  top: 50%;
  left: -153px;
}

.social-text1::after{
  content: "";
  width: 150px;
  height: 1px;
  display: block;
  background: rgb(206, 206, 206);
  position: absolute;
  top: 50%;
  left: 25px;
}

/* .social-text1::before, .social-text1::after{
  content: "";
  height: 1px;
  background-color: #333;
  display: block;

} */

.social-text2{
  margin-top: 20px;
  font-size: 16px;
}

.social-media{
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.social-media a{
  text-decoration: none;
  color: rgb(44, 82, 129);
  font-size: 23px;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
